
body{
height: 100vh;
display: flex;
flex-direction: column;
font-family: 'Roboto', sans-serif;
padding: 0;
margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-left: 100px;
    padding-right: 100px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
.links{
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB;
}

.containerOne{
    background-color: #1F2937;
}
.contentOne{
    display: flex;
    justify-content: space-evenly;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}

.hero h3{
    font-size: 48px;
    font-weight: 800;
    color:#F9FAF8;
    margin-bottom: 0;
    margin-top: 0;
}
.hero p{
    font-size:18px;
    color:#E5E7EB;
}

.hero button{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    border: none;
}

.image{
    width: 500px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding-bottom: 20px;
    padding-top: 40px;
}
.containerTwo{  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    gap: 5px;
}

.info img{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.containerThree{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 300px;
}
.quote{
    font-size:25px;
    font-style: light italic;
    color: #1F2937;
    width: 900px;
}
.author{
    font-weight: bold;
    align-self: end;
    padding-right: 400px;
}

.containerFour{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.callToAction{
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 800px;
    height: 100px;
    border-radius: 10px;
}
.text{
    color: #F9FAF8;
}

.callToAction button{
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 10px;
    border: 2px solid #F9FAF8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    margin-top: auto;
    padding: 20px;
} 